<div class="confirm-dlg">
        <p class="large-attr">Please copy this key in secure storage for future login</p>
        <!--<div class="marT20 key">{{key}}</div>-->
        <textarea id="pubkey" rows="12" cols="65" readonly>{{key}}</textarea>
        <div class="form-field clearfix marT30">
           <div class="checkbox">
                <label class="font-15"><input type="checkbox"  ng-click="setCookies()">Store this key in browser cookie</label>
            </div>
            <div class="checkbox">
            <label class="font-15"><input type="checkbox"  ng-click="setLocalStorage()" >Store this key in local storage</label>
            </div>
        </div>
    </div>