/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    /* background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
}

.card-container.register {
    max-width: 500px !important;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.marT40{
    margin-top: 40px;
}
.marT30{
    margin-top: 30px;
}
.marL30P{
margin-left: 30%
}
.marT20{
    margin-top: 20px;
}
.font-15{
    font-size:15px;
}
.large-attr {
    font-size: 16px;
    font-weight: bold;
    font-family: "Futura Std Heavy";
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.key{
    word-wrap: break-word;
    border: 1px dashed slategrey;
    font-size: 15px;
    padding:5px;
}
.clearfix{
     clear: both;
}
/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    min-height:450px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 8px 0 0;
    min-height: 1em;
    color: #ccc
}
#pubkey{
    font-size: 12px;
}
.pub_key .ngdialog-content{
 width:38% !important;

}
.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/*======================================8*/
.page-tabs{
	list-style: none;	
	width:600px;
	padding:0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
	text-align:center;	 
}
.tab-content{
	border:1px solid #666;
	padding:5px;	
	cursor:pointer;
}

.tab-content:hover{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tab-content.active{
	background:#000;
	color:#fff;
}

.navbar.bg-cbre-nav {
    background: #006e51;
}

.navbar .top-menu-env-selector{
	background: transparent;
    padding: 4px;
    border: 1px solid #fff;
    color: #FFF;	
}
.navbar .top-menu-env-selector .top-menu-env-selected{
	padding-left:12px;
}
.navbar .nav-item {
	margin-left:15px;
}
.navbar .nav-item .dropdown{
	line-height:65px;
	margin-right: 10px;
}

.navbar .nav-item .nav-link{
	font-size:2rem;
	color:#fff;
}

.search-filters{
	padding:8px;
} 


